/*images*/
img{
    max-width: 60% !important;
}

/*rating color*/
.fa-star,.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}



